body {
    font-family: 'Finlandica', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 60px;
}

.Orange-color {
    color: orange;
}

.flexible-cointainer {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 1%;

}

.half-width img {
    width: 80%;
    padding-left: 1%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack-developer {
    border-left: 7px solid orangered;
}

#baby-web-developer {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
}