body {
    font-family: 'Finlandica', sans-serif;
}

h1 {
    font-size: 60px;
}

.Orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 1%;
}

.half-width img {
    width: 80%;
    padding-left: 1%;
}