body {
    font-family: 'Finlandica', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 60px;
}

.Orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 1%;
}

.half-width img {
    width: 80%;
    padding-left: 1%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}